/*Project Name: Racer Game
Author: Alex Li
Developer @GA in DENVER */


/******************************************
/* BASE STYLES
/*******************************************/
body {
    margin: 0px;
}

/*HEADER and NAV*/
header {
  background-color: #F15B31;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

nav{
  background-color: #0E0B16;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #E7DFDD;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #0D2C40;
    font-size: 45px
    margin: 0px;
}

.center{
  text-align: center;;
}

/******************************************
/* NAV BAR
/*******************************************/
.navbar-default{
    border-radius: 0px;
    border: 0;
    background-color: #3399cc;
}

.navbar {
    margin-bottom: 0px;
    padding: 5px;
}

a{
  text-decoration: none;
  padding:10px;
}

ul li
{
    display:inline-block;
    color: #f7f7f7;
    float: right;
}

.text{
  color:white;
}

.navbar-default .navbar-brand{
    color: #fff;
    padding: 0px 15px;
    font-size: 49px;
    line-height: 100%;
    height: auto;
    font-weight: lighter;
    letter-spacing: 3px;
}


.bttn{
    width: 265px;
    margin: 40px 3px;
    padding: 0px;
    border: 0px;
    background-color: #fff;
}
.btn img{
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
}
#wrapper
{
    background: url(../img/bn.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}



/*INSTRUCTIONS*/
h2{
  font-family: "Raleway";
  color:#0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: "Droid Serif", serif;
}


/*CREATE TWO PLAYERS && FINISH LINE*/
#player1{
  /*background-color: yellow;*/
  height: 100px;
  width: 100px;
  float: left;
  position:relative;
  margin-top: 50px;
  background: url('http://piq.codeus.net/static/media/userpics/piq_428182_400x400.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#player2{
  /*background-color: green;*/
  background: url('http://piq.codeus.net/static/media/userpics/piq_428180_400x400.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  float: left;
  clear: left;
  position:relative;
  margin-top: 50px;
}

#finishLine{
  background-color: red;
  height: 400px;
  width: 50px;
  float: right;
}

/*CHANGING STYLE */
@media (max-width: 600px) {
  h1 {
    color: red;
  }
}
