/*Project Name: Racer Game
Author: Alex Li
Developer @GA in DENVER */


/******************************************
/* BASE STYLES
/*******************************************/
body {
    margin: 0px;
}

/*HEADER and NAV*/
header {
  background-color: #F15B31;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}

nav{
  background-color: #0E0B16;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #E7DFDD;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #0D2C40;
    font-size: 45px
    margin: 0px;
}

.center{
  text-align: center;;
}

/*-----------------------------------------------------------------------------------------------------
                                navbar
-------------------------------------------------------------------------------------------------------*/

.navbar-default{
    border-radius: 0px;
    border: 0;
    background-color: #3399cc;
}

ul li
{
    display:inline-block;
    color: #f7f7f7;
    float: right;
}


.navbar {
    margin-bottom: 0px;
    padding: 5px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
}
.navbar-default .navbar-brand{
    color: #fff;
    padding: 0px 15px;
    font-size: 49px;
    line-height: 100%;
    height: auto;
    font-weight: lighter;
    letter-spacing: 3px;
}

.nav-wrap
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#wrapper
{
    background: url(../img/bn.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}



/*INSTRUCTIONS*/
h2{
  font-family: "Raleway";
  color:#0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: "Droid Serif", serif;
}


/*CREATE TWO PLAYERS && FINISH LINE*/
#player1{
  background-color: yellow;
  height: 100px;
  width: 100px;
  float: left;
  position:relative;
  margin-top: 50px
}

#player2{
  background-color: green;
  height: 100px;
  width: 100px;
  float: left;
  clear: left;
  position:relative;
  margin-top: 50px;
}

#finishLine{
  background-color: blue;
  height: 400px;
  width: 50px;
  float: right;
}

/*CHANGING STYLE */
@media (max-width: 600px) {
  h1 {
    color: red;
  }
}
